################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NativeLibrary.Sample/NativeLibrary.Sample/.vs/NativeLibrary.Sample
/.vs
/NativeLibrary.Sample/.vs/NativeLibrary.Sample
/NativeLibrary.Sample/NativeLibrary.Sample.Core/obj
/NativeLibrary.Sample/NativeLibrary.Sample.Droid/obj
