################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NativeLibrary.Sample/NativeLibrary.Sample/.vs/NativeLibrary.Sample
/.vs
/NativeLibrary.Sample/.vs/NativeLibrary.Sample
/NativeLibrary.Sample/NativeLibrary.Sample.Core/obj
/NativeLibrary.Sample/NativeLibrary.Sample.Droid/obj
/PersistentBottomSheet/.vs/PersistentBottomSheet/v15/.suo
/PersistentBottomSheet/.vs/PersistentBottomSheet/DesignTimeBuild/.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
/PersistentBottomSheet/PersistentBottomSheet.Core/bin/
*.dll
*.pdb
*.cache
/PersistentBottomSheet/PersistentBottomSheet.Core/obj/
*.class
*.txt
/PersistentBottomSheet/PersistentBottomSheet.Droid/Resources/Resource.Designer.cs
/PersistentBottomSheet/PersistentBottomSheet.Droid/PersistentBottomSheet.Droid.csproj.user
*.flag
/PersistentBottomSheet/PersistentBottomSheet.Core/bin/
/PersistentBottomSheet/PersistentBottomSheet.Core/obj/
/PersistentBottomSheet/PersistentBottomSheet.Droid/bin/
/PersistentBottomSheet/PersistentBottomSheet.Droid/obj/
*.user
/AutoComplete.Sample/.vs/
/NativeLibrary.Sample/NativeLibrary.Sample.Droid/libs/
/AutoComplete.Sample/.vs/AutoComplete.Sample/v15/.suo
/AutoComplete.Sample/AutoComplete.Droid/obj/
/AutoComplete.Sample/AutoComplete.Core/obj/
/AutoComplete.Sample/AutoComplete.Core/bin/
/PersistentBottomSheet.Sample/PersistentBottomSheet.Core/bin/
/PersistentBottomSheet.Sample/PersistentBottomSheet.Droid/obj/
/PersistentBottomSheet.Sample/PersistentBottomSheet.Droid/bin/
PersistentBottomSheet.Sample/PersistentBottomSheet.Touch/obj/
PersistentBottomSheet.Sample/PersistentBottomSheet.Touch/bin/
